html {
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 4fr;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #ffffff;
  background-color: #14213d;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: #ffffff;
}

.open-form {
  border-style: none;
  border-radius: 7px;
  font-size: 20px;
  padding: 8px 15px;
  color: #ffffff;
  background-color: #ffb703;
}

.open-form:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#formContainer {
  position: fixed;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  font-weight: 600;
  color: #14213d;
  background-color: #ffb703;
}

input {
  border-style: none;
  border-radius: 10px;
  width: 200px;
  padding: 5px;
}

#submit {
  width: 80px;
  border-style: none;
  border-radius: 7px;
  padding: 8px 15px;
  color: #ffffff;
  background-color: #14213d;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

#submit:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

select {
  width: 150px;
  border-style: none;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
  font-weight: 600;
}

h2 {
  margin-bottom: 5px;
}

h5 {
  margin: 5px 0;
}
