html {
  font-family: "Inter", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 4fr;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #ffffff;
  background-color: #14213d;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: #ffffff;
}

.open-form {
  border-style: none;
  border-radius: 7px;
  font-size: 20px;
  padding: 8px 15px;
  color: #ffffff;
  background-color: #ffb703;
}

.open-form:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
